.header{
    position: relative;
    width: 100%;
    left: 0%;
   margin: 0%;
    color: white;
    /* border-radius: 39px 40px 20px 10px; */
    background-color: rgb(226, 103, 144);
     top: -25px; 
    padding: 30px;
}

.header-anchor{
    position: relative;
    margin: 2px;
    padding: 0px;
    color:#fff2d0;
    text-decoration: none;
    font-size: 20px;
    
    
}

.header-span{
    margin: 20px;
    padding: 20px;
    position: relative;
    left: 20vw;
   
}