 /* body {
     margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
    background-color: rgb(0, 0, 75);
    
  } */
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .container-signup{
   
    width: 600px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 30px;
    background-color: #9cbdd0;
    box-shadow: 3px 3px 5px 6px;
    padding: 32px;
    position: relative;
    border-radius: 25px 25px 25px 25px;
   
   
  }
  
  .container-signup h1{
    font-size: 36px;
    color: rgb(2, 2, 139);
    font-weight: 600;
    text-align: center;
  }
  
  .container-signup input{
  
    width: 90%;
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 2px;
    background-color: rgb(233, 232, 232);
    margin-top: 10px;
   
  }
  
  .container-signup button{
     width: 140px;
     height: 40px;
     border-radius: 4px;
     background-color: rgb(2, 2, 100);
     color: white;
     border: none;
     margin-top: 32px;
     font-size: 20px;
     cursor: pointer;
  }

.container-signup .input label{
   
    
    
    padding-right: 50px;
    font-size: 17px;
    font-weight: 600;
}

.account{

    position: relative;
    top: 14px;
   
}


  